*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(98, 98, 119);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}