*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(110, 110, 139);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(73, 73, 73);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
    
}